.main
  .main__header
    .main__header__group__info
      .main__header__group__info__name
        = @group.name
      .main__header__group__info__members
        Member:
        - @group.group_users.each do |group_users|
          = group_users.user.name
    .main__header__edit-btn
      =link_to edit_group_path(@group), class: "main__header__edit-btn__text" do
        Edit
  .main__messages
    = render @messages
  .main__form
    = form_for [@group, @message] do |f|
      .main__form__box
        = f.text_field :content, class: 'main__form__box__message', placeholder: "type a message"
        .main__form__box__mask
          = f.label :image, class: 'main__form__box__mask__image' do
            = icon('far', 'image', class: "main__form__box__mask__image__file-icon")
            = f.file_field :image, class: 'main__form__box__mask__image__file-select-btn'
      = f.submit 'Send', class: 'main__form__send-btn'