.side-bar
  .side-header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      .side-header__box__btn
        =link_to new_group_path, class: "side-header__box__btn__create" do
          = icon('fas', 'edit', class: "side-header__box__btn--icon")
        =link_to edit_user_path(current_user), class: "side-header__box__btn__edit" do
          = icon('fas', 'cog', class: "side-header__box__btn--icon")
  .group-list
    - current_user.groups.each do |group|
    .group-list__info
      = link_to group_messages_path(group) do
      .group-list__info__name
        = group.name
      .group-list__info__new-message
        メッセージはまだありません。